/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require style
 */

.question{
    margin-bottom: 15px;
}

.question-options{
    padding-top: 3px;
}

.question-options a{
    text-decoration: none;
    margin-right: 3px;
    font-size: 12px;
}

.special_email_field{
    display: none;
}